/*universal styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

  /*header section*/
  header {
   min-height: 85vh;
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    width: 100%;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 176, 176);
    padding-right: 2rem;

  }
  nav ul {
display: flex;
justify-content: space-around;
align-items: center;
font-size: 1.125rem;
font-weight: bold;

  }
  nav ul li {
    list-style: none;
    margin-left: 3rem;
  }
  nav ul>a {
    text-decoration: none;
  }
  nav ul li a:hover {
    color: rgb(126, 72, 5);
    text-shadow: 2px 2px 1px black;
    cursor: pointer;
  }
  nav h1 {
    font-style: oblique;
  }
  .btn {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    background-color: crimson;
    width: 70px;
    height: 30px;
    font-size: 15px;
    color:white;
    text-decoration: none;
  }
  .btn:hover {
    cursor: pointer;
     box-shadow: 5px 5px 1px;
     color:black;
 }
 .btn:active {
 color: goldenrod;
 box-shadow: 0px 0px;
 }
 .header-banner {
    background-image: url(./resources/red-background.jpg);
    height: 70vh;
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: grid;
    grid-template: repeat(6, 1fr) /repeat(6,  1fr);
  padding: 4rem 4rem;
  }

 .header-content {
  min-width: 90%;
  height: 100%;
  overflow: hidden;
  top: 3rem;
  left: 25rem;
  grid-row: 2/ 7;
  grid-column: 1/ 7;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.header-content img {
  min-width: 100%;
  height: 100%;
  display: block;
}
.header-banner h1 {
  grid-row: 1 /7;
  grid-column: 1 / span 6;
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
  color: crimson;
  width: 90%;
}
 /*main styles*/
 .activity-banner {
  max-width: 100%;
  min-height: 15vh;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.75rem;
  color: crimson;
  margin-bottom: 0.5rem;
 }
section {
  display: flex;
  flex-direction: column;
  grid-auto-rows: inherit;
  width: 90%;
  margin: 0 auto;
}
section p{
  font-size: 1.5rem;
  text-align: center;
  color: red;
  padding-bottom: 0.5rem;
}

.container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 0.25rem;
  margin-bottom: 4rem;
}
.activity{
  min-width: 25%;
  height: 40vh;
  overflow: hidden;
  padding: 0.75rem;
  
}
.activity img {
  min-width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
.activity:hover {
  box-shadow: 4px 4px 2px crimson;
}
.activity:active {
  box-shadow: none;margin-top: 1rem;
} 
footer {
  display: flex;
  background-color: crimson;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .header-banner h1 {
    border: none;
  }
}
@media only screen and (max-width: 650px) {
 nav h1 {
 font-size: 0.95rem;
  }
  header nav ul li {
    margin-left: o.5rem;
  }
  header nav ul {
    font-size: 0.95rem;
    justify-content: ;

  }
  
}
@media only screen and (max-width: 450px) {
  footer {
    justify-content: flex-start;
    font-size: 0.5rem;
  }
}